[submodule "gitmodules/nsf"]
	path = gitmodules/nsf
	url = https://github.com/jrmcornish/nsf.git
[submodule "gitmodules/BNAF"]
	path = gitmodules/BNAF
	url = https://github.com/nicola-decao/BNAF.git
[submodule "gitmodules/ffjord"]
	path = gitmodules/ffjord
	url = https://github.com/rtqichen/ffjord
[submodule "gitmodules/residual-flows"]
	path = gitmodules/residual_flows
	url = https://github.com/jrmcornish/residual-flows.git
