[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
tqdm = "*"
imageio = "*"
sklearn = "*"
matplotlib = "*"
tensorboardx = {editable = true,git = "git://github.com/lanpa/tensorboardX.git"}
pandas = "*"
pytorch-ignite = "*"

[requires]
python_version = "3.7"

[dev-packages]
ipdb = "*"
pytest = "*"
